<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <div style="margin-bottom:10px;">Hello <%= @user.name %>,</div>
  <div><%= @message %></div>
  <div style="margin-bottom:10px;">
    <a href="<%= @url %>">Click here to view the task</a>
  </div>
  <div>Thanks,</div>
  <div>Tasky, Webpunditz</div>
</body>
</html>
